[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "dep/glew"]
	path = dep/glew
	url = https://github.com/nigels-com/glew.git
[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dep/stb"]
	path = dep/stb
	url = https://github.com/nothings/stb.git
[submodule "dep/assimp"]
	path = dep/assimp
	url = https://github.com/assimp/assimp.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
